version: 2.1

executors:
  base-executor:
    resource_class: medium
    docker:
      - image: circleci/ruby:2.6.5
    environment:
      PATH: "/usr/local/bin:/usr/bin:/sbin:/opt/bin:/home/circleci/repo/bin:/bin:/sbin:/usr/sbin"
      BUNDLE_PATH: /home/circleci/.bundle_cache

commands:
  setup-bazel-env:
    description: "Setup jobs for running bazel"
    steps:
      - run:
          name: "Setup bazelrc"
          command: |
            cp ~/project/.circleci/.bazelrc ~/.bazelrc
      - run:
          name: "Install bazelisk"
          command: |
            sudo curl -L -o /usr/bin/bazel https://github.com/bazelbuild/bazelisk/releases/download/v1.0/bazelisk-linux-amd64 \
            && sudo chmod +x /usr/bin/bazel

jobs:
  rubocop:
    executor: base-executor
    steps:
      - checkout

      - run:
          name: Install Bundler
          command: |
            gem install bundler:2.0.2 --no-doc
            bundle install --jobs=4 --retry=3 --path ${BUNDLE_PATH}

      - run:
          name: "Rubocop Style Check"
          command: bundle exec rubocop -E -P

  bazel_build_workspace:
    executor: base-executor
    steps:
      - checkout
      - setup-bazel-env
          
      - run:
          name: "Bazel Build & Test Workspace"
          command: |
            bazel build //...:all \
            && bazel test //...:all \

  bazel_build_examples:
    executor: base-executor
    working_directory: ~/project/examples/simple_script
    steps:
      - checkout:
          path: ~/project
      - setup-bazel-env
      
      - run:
          name: "Bazel Build & Test Example"
          command: |
            cd examples/simple_script \
            && bazel build //...:all \
            && bazel test //...:all \
            && bazel run :bin \
            && bazel run :rubocop

  buildifier:
    executor: base-executor

    steps:
      - checkout
      - setup-bazel-env
          
      - run:
          name: "Bazel Buildifier Run"
          command: |
            bazel run :buildifier-check

workflows:
  rules_ruby:
    jobs:
      - bazel_build_workspace
      - bazel_build_examples
      - buildifier
      - rubocop
